.about-me {
    padding-top: 120px;
    &__container {
        display: grid;
        grid-template-columns: minmax(auto, 400px) minmax(auto, 570px);
        grid-template-rows: minmax(250px, auto) 1fr;
        gap: 40px 70px;
    }
    &__photo {
        grid-row: 1 / 3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__subtitle {
        font-weight: bold;
        margin-top: 6px;
        margin-bottom: 0;
    }
    &__title {
        position: relative;
        font-weight: bold;
        margin: 7px auto 0 auto;
        padding-left: 13px;
        @include before_circle;
    }
    &__text {
        margin-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin: 20px 0 0 0;
        &_small {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin: 0;
        }
    }
    &__descr {
        .divider {
            margin: 0;
        }
    }
    &__skills {
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 20px 50px;
        &-item {
            position: relative;
            display: grid;
            grid-template-columns: minmax(35px, auto) minmax(200px, auto);
            column-gap: 20px;
        }
        &-circle {
            position: relative;
            padding: 15px 0 0 15px;
            @include before_circle;
            &:before {
                top: 0;
            }
        }
        &-title {
            margin-bottom: 12px;
        }
    }
}